body {
  font-family: Arial, sans-serif;
  background-color: #282524;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #bab295;
}

.video-player {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0366d6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.back-button:hover {
  background-color: #024ea2;
}
